In [2]:
import numpy as np
import pandas as pd

train = pd.read_csv("train.csv")
train.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [3]:
train

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,1,Vivan,Male,26.0,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
3,3,Yuvraj,Male,22.0,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
4,4,Rhea,Female,30.0,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2.0,4.0,Yes,1
140696,140696,Lata,Female,41.0,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6.0,5.0,Yes,0
140697,140697,Aanchal,Female,24.0,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4.0,4.0,No,0
140698,140698,Prachi,Female,49.0,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10.0,1.0,No,0
140699,140699,Sai,Male,27.0,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [4]:
#填充缺失值
from sklearn.impute import SimpleImputer

dietary = train['Dietary Habits'].values.reshape(-1,1)
degree = train['Degree'].values.reshape(-1,1)
financial_stress = train['Financial Stress'].values.reshape(-1,1)
profession = train['Profession'].values.reshape(-1,1)
academic_pressure = train['Academic Pressure'].values.reshape(-1,1)
work_pressure = train['Work Pressure'].values.reshape(-1,1)
CGPA = train['CGPA'].values.reshape(-1,1)
study_satisfaction = train['Study Satisfaction'].values.reshape(-1,1)
job_satisfaction = train['Job Satisfaction'].values.reshape(-1,1)

imp_fre = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
imp_mean = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp_0 = SimpleImputer(missing_values = np.nan, strategy = 'constant', fill_value=0)

dietary_new = imp_fre.fit_transform(dietary)
degree_new = imp_fre.fit_transform(degree)
financial_stress_new = imp_mean.fit_transform(financial_stress)
profession_new = imp_0.fit_transform(profession)
academic_pressure_new = imp_0.fit_transform(academic_pressure)
work_pressure_new = imp_0.fit_transform(work_pressure)
CGPA_new = imp_0.fit_transform(CGPA)
study_satisfaction_new = imp_0.fit_transform(study_satisfaction)
job_satisfaction_new = imp_0.fit_transform(job_satisfaction)

train['Dietary Habits'] = pd.DataFrame(dietary_new)
train['Degree'] = pd.DataFrame(degree_new)
train['Financial Stress'] = pd.DataFrame(financial_stress_new)
train['Profession'] = pd.DataFrame(profession_new)
train['Academic Pressure'] = pd.DataFrame(academic_pressure_new)
train['Work Pressure'] = pd.DataFrame(work_pressure_new)
train['CGPA'] = pd.DataFrame(CGPA_new)
train['Study Satisfaction'] = pd.DataFrame(study_satisfaction_new)
train['Job Satisfaction'] = pd.DataFrame(job_satisfaction_new)

In [5]:
test = pd.read_csv("test.csv")
print(test.isnull().sum())

train['Working Professional or Student'][train['Working Professional or Student'] == 'Working Professional'] = 1
train['Working Professional or Student'][train['Working Professional or Student'] == 'Student'] = 0
train['Have you ever had suicidal thoughts ?'][train['Have you ever had suicidal thoughts ?'] == 'Yes'] = 1
train['Have you ever had suicidal thoughts ?'][train['Have you ever had suicidal thoughts ?'] == 'No'] = 0
train['Family History of Mental Illness'][train['Family History of Mental Illness'] == 'Yes'] = 1
train['Family History of Mental Illness'][train['Family History of Mental Illness'] == 'No'] = 0

test['Working Professional or Student'][test['Working Professional or Student'] == 'Working Professional'] = 1
test['Working Professional or Student'][test['Working Professional or Student'] == 'Student'] = 0
test['Have you ever had suicidal thoughts ?'][test['Have you ever had suicidal thoughts ?'] == 'Yes'] = 1
test['Have you ever had suicidal thoughts ?'][test['Have you ever had suicidal thoughts ?'] == 'No'] = 0
test['Family History of Mental Illness'][test['Family History of Mental Illness'] == 'Yes'] = 1
test['Family History of Mental Illness'][test['Family History of Mental Illness'] == 'No'] = 0

id                                           0
Name                                         0
Gender                                       0
Age                                          0
City                                         0
Working Professional or Student              0
Profession                               24632
Academic Pressure                        75033
Work Pressure                            18778
CGPA                                     75034
Study Satisfaction                       75033
Job Satisfaction                         18774
Sleep Duration                               0
Dietary Habits                               5
Degree                                       2
Have you ever had suicidal thoughts ?        0
Work/Study Hours                             0
Financial Stress                             0
Family History of Mental Illness             0
dtype: int64

/tmp/ipykernel_29038/1443449508.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train['Working Professional or Student'][train['Working Professional or Student'] == 'Working Professional'] = 1
/tmp/ipykernel_29038/1443449508.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Working Professional or Student'][train['Working Professional or Student'] == 'Working Professional'] = 1
/tmp/ipykernel_29038/1443449508.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train['Working Professional or Student'][train['Working Professional or Student'] == 'Student'] = 0
/tmp/ipykernel_29038/1443449508.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Working Professional or Student'][train['Working Professional or Student'] == 'Student'] = 0
/tmp/ipykernel_29038/1443449508.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train['Have you ever had suicidal thoughts ?'][train['Have you ever had suicidal thoughts ?'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Have you ever had suicidal thoughts ?'][train['Have you ever had suicidal thoughts ?'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:7: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train['Have you ever had suicidal thoughts ?'][train['Have you ever had suicidal thoughts ?'] == 'No'] = 0
/tmp/ipykernel_29038/1443449508.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Have you ever had suicidal thoughts ?'][train['Have you ever had suicidal thoughts ?'] == 'No'] = 0
/tmp/ipykernel_29038/1443449508.py:8: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train['Family History of Mental Illness'][train['Family History of Mental Illness'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Family History of Mental Illness'][train['Family History of Mental Illness'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train['Family History of Mental Illness'][train['Family History of Mental Illness'] == 'No'] = 0
/tmp/ipykernel_29038/1443449508.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Family History of Mental Illness'][train['Family History of Mental Illness'] == 'No'] = 0
/tmp/ipykernel_29038/1443449508.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test['Working Professional or Student'][test['Working Professional or Student'] == 'Working Professional'] = 1
/tmp/ipykernel_29038/1443449508.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Working Professional or Student'][test['Working Professional or Student'] == 'Working Professional'] = 1
/tmp/ipykernel_29038/1443449508.py:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test['Working Professional or Student'][test['Working Professional or Student'] == 'Student'] = 0
/tmp/ipykernel_29038/1443449508.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Working Professional or Student'][test['Working Professional or Student'] == 'Student'] = 0
/tmp/ipykernel_29038/1443449508.py:13: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test['Have you ever had suicidal thoughts ?'][test['Have you ever had suicidal thoughts ?'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Have you ever had suicidal thoughts ?'][test['Have you ever had suicidal thoughts ?'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:14: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test['Have you ever had suicidal thoughts ?'][test['Have you ever had suicidal thoughts ?'] == 'No'] = 0
/tmp/ipykernel_29038/1443449508.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Have you ever had suicidal thoughts ?'][test['Have you ever had suicidal thoughts ?'] == 'No'] = 0
/tmp/ipykernel_29038/1443449508.py:15: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test['Family History of Mental Illness'][test['Family History of Mental Illness'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Family History of Mental Illness'][test['Family History of Mental Illness'] == 'Yes'] = 1
/tmp/ipykernel_29038/1443449508.py:16: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  test['Family History of Mental Illness'][test['Family History of Mental Illness'] == 'No'] = 0
/tmp/ipykernel_29038/1443449508.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Family History of Mental Illness'][test['Family History of Mental Illness'] == 'No'] = 0

In [6]:
train

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49.0,Ludhiana,1,Chef,0.0,5.0,0.00,0.0,2.0,More than 8 hours,Healthy,BHM,0,1.0,2.0,0,0
1,1,Vivan,Male,26.0,Varanasi,1,Teacher,0.0,4.0,0.00,0.0,3.0,Less than 5 hours,Unhealthy,LLB,1,7.0,3.0,0,1
2,2,Yuvraj,Male,33.0,Visakhapatnam,0,0,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,1,3.0,1.0,0,1
3,3,Yuvraj,Male,22.0,Mumbai,1,Teacher,0.0,5.0,0.00,0.0,1.0,Less than 5 hours,Moderate,BBA,1,10.0,1.0,1,1
4,4,Rhea,Female,30.0,Kanpur,1,Business Analyst,0.0,1.0,0.00,0.0,1.0,5-6 hours,Unhealthy,BBA,1,9.0,4.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18.0,Ahmedabad,1,0,0.0,5.0,0.00,0.0,4.0,5-6 hours,Unhealthy,Class 12,0,2.0,4.0,1,1
140696,140696,Lata,Female,41.0,Hyderabad,1,Content Writer,0.0,5.0,0.00,0.0,4.0,7-8 hours,Moderate,B.Tech,1,6.0,5.0,1,0
140697,140697,Aanchal,Female,24.0,Kolkata,1,Marketing Manager,0.0,3.0,0.00,0.0,1.0,More than 8 hours,Moderate,B.Com,0,4.0,4.0,0,0
140698,140698,Prachi,Female,49.0,Srinagar,1,Plumber,0.0,5.0,0.00,0.0,2.0,5-6 hours,Moderate,ME,1,10.0,1.0,0,0
140699,140699,Sai,Male,27.0,Patna,0,0,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,1,2.0,3.0,1,1

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier

X = pd.concat([train['Work/Study Hours'], train['Age'], train['Working Professional or Student'], train['Have you ever had suicidal thoughts ?'], train['Financial Stress'], train['Family History of Mental Illness']], axis=1)
y = train['Depression']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.3, random_state=42)

depth = 10
neighbors = 6
split = 'best'
treeClass = DecisionTreeClassifier(max_depth = depth, splitter=split)
knnClass = KNeighborsClassifier(n_neighbors=neighbors, weights='uniform', metric='euclidean')
treeClass.fit(X, y)
knnClass.fit(X, y)

y_val_pred_tree = treeClass.predict(X_val)
y_val_pred_knn = knnClass.predict(X_val)
print("資料評估:")
print("depth:", depth)
print("splitter", split)
print("accuracy:", accuracy_score(y_val, y_val_pred_tree))
print("\n", classification_report(y_val, y_val_pred_tree))
print("number of neighbor", neighbors)
print("accuracy:", accuracy_score(y_val, y_val_pred_knn))
print("\n", classification_report(y_val, y_val_pred_knn))

資料評估:
depth: 10
splitter best
accuracy: 0.9231461738924426

               precision    recall  f1-score   support

           0       0.95      0.96      0.95     34434
           1       0.80      0.78      0.79      7776

    accuracy                           0.92     42210
   macro avg       0.88      0.87      0.87     42210
weighted avg       0.92      0.92      0.92     42210

number of neighbor 6
accuracy: 0.9253257521914239

               precision    recall  f1-score   support

           0       0.94      0.97      0.95     34434
           1       0.84      0.73      0.78      7776

    accuracy                           0.93     42210
   macro avg       0.89      0.85      0.87     42210
weighted avg       0.92      0.93      0.92     42210

In [10]:
pred = treeClass.predict(pd.concat([test['Work/Study Hours'], test['Age'], test['Working Professional or Student'], test['Have you ever had suicidal thoughts ?'], test['Financial Stress'], test['Family History of Mental Illness']], axis=1))
test['Depression'] = pred
sub = pd.concat([test['id'], test['Depression']], axis = 1)
sub.to_csv('submission.csv',sep=',',index=False,header=True)